<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScullFurnaces_32.MyUserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScullFurnaces_32.MyUserSettings>
            <setting name="SelectedIndex" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="FileName" serializeAs="String">
                <value>C:\Endeavours\Scull-furnaces-32\20170606.911</value>
            </setting>
            <setting name="UpperLimitForCurrent" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="UpperLimitForVoltage" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="TimeUpperBoundaryForTheCurrent" serializeAs="String">
                <value>86399</value>
            </setting>
            <setting name="TimeLowerBoundaryForTheCurrent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimeUpperBoundaryForTheVoltage" serializeAs="String">
                <value>86399</value>
            </setting>
            <setting name="TimeLowerBoundaryForTheVoltage" serializeAs="String">
                <value>0</value>
            </setting>
        </ScullFurnaces_32.MyUserSettings>
    </userSettings>
</configuration>